version: '3.9'

services:
  frontend:
    build:
      context: ..
      dockerfile: containerisation/Dockerfile
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ../frontend:/app
      - /app/node_modules
    environment:
      - HOST=0.0.0.0
    command: npm run dev -- --host --port 5173
